/* 
 * Main column width
 * This changes it from the default 580px to 720px
 */
 .wp-block {
    max-width: 720px !important;
}

/* 
 * Width of "wide" blocks
 * This changes it from the default 1080px to 1280px
 */
.wp-block[data-align="wide"] {
    max-width: 1280px;
}

.wp-block-paragraph{
    display: block;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    margin-top: 0;
    line-height: 2rem;
}

h2.wp-block-heading{
    font-size: 2rem;
}

h3.wp-block-heading{
    font-size: 1.75rem;
}

h4.wp-block-heading{
    font-size: 1.5rem;
}

h5.wp-block-heading{
    font-size: 1.25rem;
}