/** Title */
.single-title {
  font: normal bold 20px/26px "Noto Sans", Arial, Verdana, Tahoma, sans-serif;
  color: var(--pa-color-default);
}

/** Vídeo Responsivo */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/** Separators */
.separator {
  margin: 40px 0;
}

.pa-content-container header .pa-post-meta span {
  color: var(--pa-color-default-light);
}

.pa-content-container header hr,
.pa-content-container footer hr, 
.pa-content header hr {
  color: var(--pa-color-default-light) !important;
  opacity: 0.2;
}

.pa-author-item {
  margin-bottom: 1.5rem; // 24px

  @media (min-width: 576px) {
    margin-bottom: 3.75rem; // 60px
  }

  .ratio {
    height: 93px;
    width: 93px;

    @media (min-width: 576px) {
      height: 170px;
      width: 170px;
    }
  }

  .figure-img {
    object-fit: cover;
  }

  .pa-tag {
    margin-bottom: 0.5rem; // 8px

    @media (min-width: 576px) {
      margin-bottom: 0.75rem; // 12px
    }
  }

  p {
    color: #717171;
    font-size: 0.875rem; // 14px

    @media (min-width: 576px) {
      font-size: 1rem; // 16px
    }
  }
}