/** Title */
.single-title {
  font: normal bold 20px/26px "Noto Sans", Arial, Verdana, Tahoma, sans-serif;
  color: var(--pa-color-default);
}

/** Vídeo Responsivo */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/** Separators */
.separator {
  margin: 40px 0;
}

.pa-content-container{
  overflow: hidden;
}

.pa-content-container header .pa-post-meta span {
  color: var(--pa-color-gray01);
  font-weight: bold;
}

.pa-content-container header hr,
.pa-content-container footer hr,
.pa-content header hr {
  color: var(--pa-color-default-light) !important;
  opacity: 0.2;
}

.pa-author-item {
  margin-bottom: 1.5rem; // 24px

  .card-body {
    p {
      font-size: 1rem;
      line-height: normal;
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 576px) {
    margin-bottom: 3.75rem; // 60px
  }

  .ratio {
    height: 93px;
    width: 93px;

    @media (min-width: 576px) {
      height: 170px;
      width: 170px;
    }
  }

  .figure-img {
    object-fit: cover;
  }

  .pa-tag {
    margin-bottom: 0.5rem; // 8px

    @media (min-width: 576px) {
      margin-bottom: 0.75rem; // 12px
    }
  }

  p {
    color: #717171;
    font-size: 0.875rem; // 14px

    @media (min-width: 576px) {
      font-size: 1rem; // 16px
    }
  }
}

.pa-card-author {
  border-radius: 8px;
  background-color: var(--pa-color-gray06);
  color: var(--pa-color-gray03);
  padding: 24px 32px;

  @media (min-width: 992px) {
    padding: 40px;
  }

  .ratio {
    height: 106px;
    width: 106px;

    @media (min-width: 992px) {
      height: 144px;
      width: 144px;
    }
  }

  .figure-img {
    object-fit: cover;
  }

  &__data {
    @media (min-width: 992px) {
      padding-left: 56px;
    }
  }

  &__title {
    color: var(--pa-color-gray01);
    font-size: 1.125rem; // 18px
  }

  &__column-name {
    color: var(--pa-color-default);
    font-size: 1.125rem; // 18px

    @media (min-width: 992px) {
      font-size: 1.625rem; // 26px
    }
  }

  &__column-excerpt {
    font-weight: 600;
  }

  &__column-excerpt,
  &__description {
    @media (max-width: 992px) {
      font-size: 0.875rem; // 14px
    }
  }

  &__social a,
  &__social a:hover {
    color: var(--pa-color-default);
    font-size: 1.125rem; // 18px
    margin-right: 1.75rem; // 28px

    &:last-child {
      margin: 0;
    }

    @media (min-width: 992px) {
      margin-right: 2rem; // 32px
    }
  }
}

.pa-post-link {
  color: var(--pa-color-default);
  font-size: 0.875rem; // 14px

  &:hover {
    color: var(--pa-color-default-light);
  }
}

.pa-share-footer .list-inline {
  margin: 0 !important;
}

.pa-w-featured-post.pa-widget{
  .pag-tag-icon-video{
    padding: 2px 8px 1px 10px; //Featured post icon
  }
  .pag-tag-icon-audio {
    padding: 0px 6px 1px 6px; //Featured post icon
  }
}

card-post {
  .pa-blog-item {
    .card-body {
      p {
        font-size: 1rem;
        line-height: normal;
        margin-bottom: 1rem;
      }
    }

    .img-container {
      width: 45.6%;

      @media (min-width: 1200px) {
        width: 35.8%;
      }
    }

    .ratio {
      @media (max-width: 1199px) {
        --bs-aspect-ratio: calc(86 / 147 * 100%) !important;
      }
    }

    .pa-img-tag {
      max-width: 82%;
    }

    h3 {
      @media (max-width: 1199px) {
        font-size: 0.938rem; // 15px
      }
    }

    p {
      color: #717171 !important;
      display: none !important;
      font-size: 0.875rem; // 14px

      @media (min-width: 1200px) {
        display: -webkit-box !important;
      }
    }

    .pa-tag-icon{
      color: var(--pa-color-default);
      background-color: var(--pa-color-default-aux);
      vertical-align: middle;
      margin-right: 8px;
    }

    .pag-tag-icon-video{
      font-size: 0.45rem;
      padding: 3px 5px 3px 6px;
      border-radius: 50%;
    }

    .pag-tag-icon-audio{
      padding: 1px 4px 1px 4px;
      border-radius: 50%;
      font-size: 0.65rem;
    }
  }
}

.floating-video {
  $this: &;

  &::after, &::before{
    height: 100%;
    z-index: 2;
    top: 0;
    content: '';
    background: #252525;
    width: 1000%;
    position: absolute;
  }

  &::before {
    left: -99%;
  }

  &::after {
    right: -99%;
  }

  z-index: 4;
  border-radius: 0;
  padding-bottom: 56.25%;
  padding-top: 30px;
  margin-top: -6px;
  overflow: visible;
  height: 0;
  background-color: #252525;

  &.is-sticky {
    z-index: 1031;

    figure {
      &::before {
        position: relative;
      }
    }
  }

  picture {
    background-color: #252525;

    .thumb-video {
      margin: auto;
      display: block;
      padding: 20px 0;
    }

    img{
      position: absolute;
      top: 0;
      height: 100%;
      cursor: pointer;
    }
  }

  figure {
    &::before {
      aspect-ratio: 16 / 9;
      background-color: #252525;
      border-radius: rem-calc(24);
      content: "";
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%
    }
  }

  .card__play {
    width: 66px;
    height: 65px;
    padding: 20px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--pa-color-default-dark);
    background-color: #E3EEDE;
    border-radius: 50%;
  }

  iframe {
    object-fit: fill;
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  &__close {
    background-color: #fff;
    font-size: rem-calc(20);
    opacity: 0;
    pointer-events: none;
    transition-delay: 0.2s;
  }
}
.uil-play {
  font-style: normal;

  &::before {
    content: "\f04b";
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
  }
}

.audio-container {
  background: #252525;
  position: relative;
  padding: 20px 0px;
  margin-top: -30px;

  &::before, &::after {
    content: '';
    background: #252525;
    width: 1000%;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: -2;
  }

  &::before {
    left: -99%;
  }

  &::after {
    right: -99%;
  }

  iframe{
    width: 100%;
    vertical-align: middle;
  }
}
