.pa-w-list-columns {
    .pa-author-item {
        margin-bottom: 1.25rem; // 20px
    }

    .ratio {
        height: 105px;
        width: 105px;
    }

    h3 {
        font-size: 1.125rem; // 18px
    }
}