/** Title */
.single-title {
  font: normal bold 20px/26px "Noto Sans", Arial, Verdana, Tahoma, sans-serif;
  color: var(--pa-color-default);
}

/** Vídeo Responsivo */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/** Separators */
.separator {
  margin: 40px 0;
}

.pa-content-container header .pa-post-meta span {
  color: var(--pa-color-default-light);
}

.pa-content-container header hr,
.pa-content-container footer hr, 
.pa-content header hr {
  color: var(--pa-color-default-light) !important;
  opacity: 0.2;
}